body {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background-color: #FBF2CF;
    text-align: center;
    color: salmon;
    padding-top: 30px;
}

a {
    text-decoration: none;
    color: #f5f5dc;
    background-color: #B08BBB;
    padding: 10px; 
    border-radius: 25px;
}

table {
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: 2px; 
}

td {
    padding: 5px; 
    border: 1px solid; 
}

button {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-decoration: none;
    background-color: #856C8B;
    color: #f5f5dc; 
    border-radius: 25px;
    border: none; 
    padding: 10px; 
    font-size: 14px; 
}