body {
    font-family: "Comic Sans MS", "Comic Sans", cursive; 
    background-color: #B5D5C5;
    text-align: center; 
    color: #567189;
    padding-top: 100px;
}

a {
    text-decoration: none;
    color: #f5f5dc;
    background-color: #B08BBB;
    padding: 10px; 
    border-radius: 25px; 
    margin: 110px; 
}

img.m {
    border-radius: 30px; 
    padding: 20px; 
    width: 250px; 
    height: 250px; 
    text-align: center; 
}

img.b {
    border-radius: 30px; 
    padding: 20px; 
    width: 250px; 
    height: 250px; 
    margin: 25px 50px 75px 100px;
}

.homepage-images {
    display: flex;
    justify-content: center; 
}